.header-container {
    background-color: #1F2937;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-links {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.section-1 {
    color: #F9FAF8;
    background-color: transparent;
    padding: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;

}

.left-half {
    width: 400px;
}

.header-text {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
}

.right-half {
    background-image: url("./images/onion-0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    border-radius: 10px;
    width: 400px;
    height: auto;
}

.section-2 {
    background-color: transparent;
    border: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.section-2-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 36px;
    font-weight: bold;
    color: #e5e7eb;
}

.subtext-container {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-around;
}

.container-1 {
    color: #e5e7eb;
    height: 150px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container-2 {
    color: #e5e7eb;
    height: 150px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container-3 {
    color: #e5e7eb;
    height: 150px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container-4 {
    color: #e5e7eb;
    height: 150px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sub-container-1 {
    border-radius: 10px;
    width: 120px;
    height: 120px;
    background-image: url("./images/onion-1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
}

.sub-container-2 {
    border-radius: 10px;
    width: 120px;
    height: 120px;
    background-image: url("./images/onion-2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
}

.sub-container-3 {
    border-radius: 10px;
    width: 120px;
    height: 120px;
    background-image: url("./images/onion-3.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
}

.sub-container-4 {
    border-radius: 10px;
    width: 120px;
    height: 120px;
    background-image: url("./images/onion-4.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
}

.section-3 {
    display: flex;
    justify-content: center;
}

.section-3-container {
    background-color: #E5E7EB;
    width: 500px;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-3-quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    justify-content: center;
}

.quote-author {
    color: #1F2937;
    font-size: 20px;
    font-style: italic;
    align-items: end;
}

.section-4 {
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.section-4-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section-4-right {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #1F2937;
    padding: 20px 0;
}